<div ng-controller="ApplicationDetailCtrl as applicationDetailCtrl" class="modal-demo">

	
	<!-- start -->
	<div  ng-if="reject" class="modal fade show appDetail-model-position">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<!-- modal-body -->
				<div class="modal-body">
					<label for="">Reasons for rejection</label><br>
					<label>
						<textarea rows="3" cols="35"></textarea>
					</label>
					
				</div>
				<!-- modal-footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-success" ng-click="applicationDetailCtrl.Cancel()">Cancel</button>
					<button type="button" class="btn btn-outline-success" ng-click="applicationDetailCtrl.SaveAssign()">Reject the Case</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end -->

    <div class="container-fluid px-0">	

		

		<main class="container-fluid py-3">

			<div class="row">
				<div class="col-12 col-lg-3 pr-lg-2 mb-3" >
					<!-- Application Id -->
					<div class="card bg-white">
						<div class="card-header bg-white text-success font-weight-bold pl-3">
							<a class="mr-2" ng-click = "applicationDetailCtrl.prePage()">
								<img height="40px" src="/portalserver/static/features/%5BBBHOST%5D/theme-hase-cos/dist/styles/images/arrow-left.svg">
							</a>
							<label class="" style="word-wrap: break-word;width: -webkit-fill-available;" ng-cloak>Application Id {{id}}</label>
							<span>
								<img ng-if="remarkState == 0" class="remark-img" ng-click="applicationDetailCtrl.callRemark()" src="/portalserver/static/features/%5BBBHOST%5D/theme-hase-cos/dist/styles/images/file-regular.svg">
								<img ng-if="remarkState != 0" class="remark-img" height: 30px;" ng-click="applicationDetailCtrl.callRemark()" src="/portalserver/static/features/%5BBBHOST%5D/theme-hase-cos/dist/styles/images/file-alt-solid.svg">
							</span>
						</div>
						<div class="card-body px-3">
							<ng-template ng-if="isApplicationDetail">
									<ng-template ng-if="statusLevel">
											<h6 >Status</h6>
											<label ng-if="statusLevelJudge" ng-cloak>{{status}}</label>
											<label ng-if="!statusLevelJudge">N/A</label>
									</ng-template>

									<ng-template ng-if="flag">
										<span class="cursor" data-toggle="modal" data-target="#reactStatusModal" id="Rejected_icon">
											<img src="/portalserver/static/features/%5BBBHOST%5D/theme-hase-cos/dist/styles/images/file-alt-solid.svg" height="20" alt="Responsive image">
											<img src="/portalserver/static/features/%5BBBHOST%5D/theme-hase-cos/dist/styles/images/file-alt-solid-hover.svg" height="20" alt="Responsive image">
										</span>
									</ng-template>

									<ng-template ng-if="appointLevel">
											<h6 for="">Appointment</h6>
											<label ng-if="appointLevelJudge" ng-cloak>{{appointTime}}</label>
											<label ng-if="!appointLevelJudge">N/A</label>
									</ng-template>
									
									<ng-template ng-if="assingnLevel">
											<h6 for="">Assigned to:</h6>
											<label ng-if="assingnLevelJudge" ng-cloak>{{assignTo}}</label>
											<label ng-if="!assingnLevelJudge">N/A</label>
									</ng-template>
									
							</ng-template>
						</div>
					</div>
					<!-- Checklist -->
					<div class="card bg-white my-3">
						<div class="card-header bg-white text-success font-weight-bold pl-3">
							Checklist
						</div>
						<div class="card-body px-3">
							
							<ul ng-if="checklists" ng-repeat = "checklist in checklists">
									<li>
										<label class="pl-0" >
											<input type="checkbox"  value="$index" ng-checked="applicationDetailCtrl.isChecked($index)"   
											ng-click="applicationDetailCtrl.updateSelection($event,$index)"/>
											<label ng-bind="checklist"></label>
										</label>
									</li>
							</ul>
							
							<!-- <label class="pl-0"><input type="checkbox" disabled="true">Booked Time Slot</label> -->
						</div>
					</div>
					<!-- Workflow -->
					<div class="card bg-white ">
						<div class="card-header bg-white text-success font-weight-bold pl-3">
							Workflow
						</div>
						<div class="card-body px-3">
							<button class="btn btn-outline-success col-12 mb-3" ng-disabled="isAllCheck">Move forward</button>
							<button class="btn btn-outline-success col-12" ng-click="applicationDetailCtrl.reject()" >Reject</button>
							<button type="button" class="btn col-12 btn-primary btn-block" data-toggle="modal" data-target="#confirmReactModal" ng-click="applicationDetailCtrl.reactivate()" ng-if="isReactive">{{reactivateButton}} Processing (Reactivate)</button>
						</div>
					</div>
				</div>
				
				<!-- start -->
				<div  ng-if="reactivate" class="modal fade show appDetail-model-position">
					<div class="modal-dialog modal-sm">

						<div class="modal-content appDetail-border-size">
							<!-- modal-header -->
							<div class="modal-header">
								<h5 class="modal-title" id="confirmReactModalLabel">Reactivate Application</h5>
								<button type="button" class="close" data-dismiss="modal" ng-click="applicationDetailCtrl.CancelReactivate()">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<!-- modal-body -->
							<div class="modal-body mb-5" style>
								Are you sure you want to reactivate this application?
							</div>
							<!-- modal-footer -->
							<div class="modal-footer  border-top-0">
								<button type="button" class="btn btn-outline-success" ng-click="applicationDetailCtrl.CancelReactivate()">Cancel</button>
								<button type="button" class="btn btn-outline-success" ng-click="applicationDetailCtrl.reactivateClick()">Reactivate</button>
							</div>
						</div>
					</div>
				</div>
				<!-- end -->

				<!--Rejectedstatus model start-->
				<div class="modal fade" id="reactStatusModal" tabindex="-1" role="dialog" aria-labelledby="reactStatusModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header border-bottom-0">
							<h5 class="modal-title" id="reactStatusModalLabel">View Reject Reason</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
									<dl>
											<dt>Rejection Date</dt>
											<dd class="mb-2">11/3/2019</dd>
											<dt>Rejection Staff</dt>
											<dd class="mb-2">7629207500</dd>
											<dt>Rejection Category </dt>
											<dd class="mb-2">Hit - DNOA</dd>
											<dt>Rejection Reason  </dt>
											<dd class="mb-2">As above.</dd>
											<dt>Under Enhanced Onboarding Programme</dt>
											<dd class="mb-2">Yes</dd>
											<dt>Customer have Hong Kong Nexus</dt>
											<dd class="mb-2">No</dd>
										</dl>
							</div>
							<div class="modal-footer border-top-0">
								<button type="button" class="btn btn-outline-dark px-4 m-auto " data-dismiss="modal" >Close</button>
							</div>
						</div>
					</div>
		</div>
		<!--status model end-->

				<div class="fixed-top border bg-white  text-center" id="ReactivateToast" aria-live="polite" aria-atomic="true" data-autohide="false">
					<div class="toast-body font-weight-bold f18" ng-bind="toastContent2">
					</div>
				</div>	
				
				<div class="col-12 col-lg-9">
					<div class="row">
						<div class="col-12 pl-lg-2 mb-3">
							<!-- 02 Navbar -->
							<nav class="navbar navbar-expand-lg bg-white navbar-dark">
								<!-- collapse-icon -->
								<button class="navbar-toggler px-1" type="button" data-toggle="collapse" data-target="#collapsibleSubNavbar">
									<label class="text-success mr-2">Change options</label>
									<img height="40px" src="/portalserver/static/features/%5BBBHOST%5D/theme-hase-cos/dist/styles/images/arrow-down.svg">
								</button>
								<!-- nav-Links -->
								<div class="collapse navbar-collapse" id="collapsibleSubNavbar">
									<ul class="navbar-nav nav">
										<li class="nav-item">
											<a class="nav-link text-success" href="#">Form</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-success" href="#">Documents</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-success" href="#">Email Applicant</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-success" href="#">Appointment</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-success" href="#">Remark</a>
										</li>
										<li class="nav-item">
											<a class="nav-link text-success" href="#">Change Log</a>
										</li>
									</ul>
								</div>
							</nav>
							<!-- 02 Navbar end-->
						</div>
					</div>
		
					<!-- main content -->
					<div class="row">
						<div class="col-12">
							<div class="row">
								<div class="col-12 col-lg-9 px-lg-2 mb-3">
									<div class="border bg-white p-5 h-100">
										filter
									</div>
								</div>
								<div class="col-12 col-lg-3 pl-lg-2 mb-3">
									<div class="border bg-white p-5 h-100">
										action button
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 pl-lg-2">
									<div class="border bg-white p-5">
										result table
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</main>
	</div>
		<!--注入remark弹框-->
		<div lp-template="templates/remark.html"></div>
</div>
