<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="col-12 col-lg-4 pr-lg-2 pr-xl-2 mb-3">
        <div class="card bg-white h-100">
            <div class="card-header bg-white text-success font-weight-bold pl-3">
                My Summary
            </div>
            <div class="card-body px-3">
                <label for="">Pending CCC allocation</label>
                <label class="font-weight-bold mx-3" ng-bind="pendingCCCAllocation"></label>
                <a href="#">View</a><br>

                <label for="">Pending for handing</label>
                <label class="font-weight-bold mx-3" ng-bind="pendingForHanding"></label>
                <a href="#">View</a><br>
            </div>
        </div>
    </div>
</div>
</body>
</html>