<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="card bg-white" >
        <div class="card-header bg-white text-success font-weight-bold pl-3">
            Application
        </div>
        <div class="card-body px-3 pt-3">
            <!-- table-button -->
            <div class="d-flex justify-content-end mb-3">
                <button class="btn btn-outline-success" type="submit" data-toggle="modal" data-target="#AssignModal">Assign Call Agent</button>
                <!-- AssignModal -->
                <div class="modal fade" id="AssignModal" data-backdrop="static">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <!-- modal-body -->
                            <div class="modal-body">
                                <label for="">Assign the 4 cases to</label><br>
                                <select class="col-12" ng-model="selectedCentre">
                                    <option name="selectedCentre" value="Centre">Aaron</option>
                                    <option name="selectedCentre" value="Beatrice">Beatrice</option>
                                    <option name="selectedCentre" value="Candy">Candy</option>
                                    <option name="selectedCentre" value="Danny">Danny</option>
                                </select>
                            </div>
                            <!-- modal-footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-outline-success" ng-click="SaveAssign()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Mention Toast -->
                <div aria-live="polite" id="AssignToast" aria-atomic="true" data-autohide="false"
                     style="display: none;position: fixed;top: 0; right: 0;padding: 35px;z-index: 4415;border: 1px solid darkgray;background: white;">
                    <div class="toast">
                        <div class="toast-body">
                            Save successful !
                        </div>
                    </div>
                </div>

            </div>
            <!-- table-button end -->
            <button ng-click="applicationCtrl.click()">点击</button>
            <!-- table-responsive -->
            <div class="table-responsive">
                <table class="col-12 table table-striped table-hover px-0"
                       data-toggle="table" first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true" 
                       boundary-link-numbers="true" data-pagination="true">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col" data-sortable="true" data-field="id">ID</th>
                        <th scope="col" data-sortable="true" data-field="type">Type</th>
                        <th scope="col" data-sortable="true" data-field="entityType">Entity Type</th>
                        <th scope="col" data-sortable="true" data-field="companyName">Company Name</th>
                        <th scope="col" data-sortable="true" data-field="customerId">Customer ID</th>
                        <th scope="col" data-field="category">Category</th>
                        <th scope="col" data-field="status">Status</th>
                        <th scope="col" data-field="remark">Remark</th>
                        <th scope="col" data-sortable="true" data-field="appointmentDate">Appointment Date & Time</th>
                        <th scope="col" data-field="confirmedVenue">Confirmed Venue</th>
                        <th scope="col" data-field="handlingCallAgent">Handling Call Agent</th>
                        <th scope="col" data-field="taskDueDate">Task Due Date</th>
                        <th scope="col" data-field="documentLastUploadDate">Document Last Upload Date</th>
                        <th scope="col" data-field="lastModifiedDate">Last Modified Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- <tr data-ng-repeat="application in $bodyCtrl.applications"> -->
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>NTB</td>
                        <td>Corporate</td>
                        <td>Happy House Ltd.</td>
                        <td>3777388225</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td class="align-middle text-center">
                            <a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus"
                               data-content="<br> Customer ID <br> 28882888 <br><br>
													Remarks <br> Some remarks content <br><br>
													Document Last Uploaded Date <br> 31 Dec 2020 <br><br>
													Contact Person <br> Johnny Chan <br><br>
													Contact Number <br> 852 3999 8833<br><br>"
                            >
                                <i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>30 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>Partnership</td>
                        <td>HABC Limited</td>
                        <td>3777388220</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>29 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>NPO</td>
                        <td>Pacific Coffee Ltd.</td>
                        <td>3777388221</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>26 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>NTB</td>
                        <td>Corporate</td>
                        <td>Happy House Ltd.</td>
                        <td>3777388222</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td class="align-middle text-center">
                            <a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus"
                               data-content="<br> Customer ID <br> 28882888 <br><br>
																  Remarks <br> Some remarks content <br><br>
																  Document Last Uploaded Date <br> 31 Dec 2020 <br><br>
																  Contact Person <br> Johnny Chan <br><br>
																  Contact Number <br> 852 3999 8833<br><br>"
                            >
                                <i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
                                <!-- <img class="" src="./img/info.svg" height="25"> -->
                            </a>
                        </td>
                        <td>05 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>Partnership</td>
                        <td>HABC Limited</td>
                        <td>3777388223</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>NPO</td>
                        <td>Pacific Coffee Ltd.</td>
                        <td>3777388224</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>NTB</td>
                        <td>Corporate</td>
                        <td>Happy House Ltd.</td>
                        <td>3777388222</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td class="align-middle text-center">
                            <a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus"
                               data-content="<br> Customer ID <br> 28882888 <br><br>
																	Remarks <br> Some remarks content <br><br>
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br>
																	Contact Person <br> Johnny Chan <br><br>
																	Contact Number <br> 852 3999 8833<br><br>"
                            >
                                <i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
                                <!-- <img class="" src="./img/info.svg" height="25"> -->
                            </a>
                        </td>
                        <td>05 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>Partnership</td>
                        <td>HABC Limited</td>
                        <td>3777388223</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>NPO</td>
                        <td>Pacific Coffee Ltd.</td>
                        <td>3777388224</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>NTB</td>
                        <td>Corporate</td>
                        <td>Happy House Ltd.</td>
                        <td>3777388222</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td class="align-middle text-center">
                            <a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus"
                               data-content="<br> Customer ID <br> 28882888 <br><br>
																	Remarks <br> Some remarks content <br><br>
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br>
																	Contact Person <br> Johnny Chan <br><br>
																	Contact Number <br> 852 3999 8833<br><br>"
                            >
                                <i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
                                <!-- <img class="" src="./img/info.svg" height="25"> -->
                            </a>
                        </td>
                        <td>05 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>Partnership</td>
                        <td>HABC Limited</td>
                        <td>3777388223</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>NPO</td>
                        <td>Pacific Coffee Ltd.</td>
                        <td>3777388224</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>NTB</td>
                        <td>Corporate</td>
                        <td>Happy House Ltd.</td>
                        <td>3777388222</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td class="align-middle text-center">
                            <a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus"
                               data-content="<br> Customer ID <br> 28882888 <br><br>
																	Remarks <br> Some remarks content <br><br>
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br>
																	Contact Person <br> Johnny Chan <br><br>
																	Contact Number <br> 852 3999 8833<br><br>"
                            >
                                <i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
                                <!-- <img class="" src="./img/info.svg" height="25"> -->
                            </a>
                        </td>
                        <td>05 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>Partnership</td>
                        <td>HABC Limited</td>
                        <td>3777388223</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>NPO</td>
                        <td>Pacific Coffee Ltd.</td>
                        <td>3777388224</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>NTB</td>
                        <td>Corporate</td>
                        <td>Happy House Ltd.</td>
                        <td>3777388222</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td class="align-middle text-center">
                            <a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus"
                               data-content="<br> Customer ID <br> 28882888 <br><br>
																	Remarks <br> Some remarks content <br><br>
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br>
																	Contact Person <br> Johnny Chan <br><br>
																	Contact Number <br> 852 3999 8833<br><br>"
                            >
                                <i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
                                <!-- <img class="" src="./img/info.svg" height="25"> -->
                            </a>
                        </td>
                        <td>05 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>Partnership</td>
                        <td>HABC Limited</td>
                        <td>3777388223</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>NPO</td>
                        <td>Pacific Coffee Ltd.</td>
                        <td>3777388224</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>NTB</td>
                        <td>Corporate</td>
                        <td>Happy House Ltd.</td>
                        <td>3777388222</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td class="align-middle text-center">
                            <a href="javascript:void(0);" class=""  data-toggle="popover" data-trigger="focus"
                               data-content="<br> Customer ID <br> 28882888 <br><br>
																	Remarks <br> Some remarks content <br><br>
																	Document Last Uploaded Date <br> 31 Dec 2020 <br><br>
																	Contact Person <br> Johnny Chan <br><br>
																	Contact Number <br> 852 3999 8833<br><br>"
                            >
                                <i class="fa fa-search fa-1x text-success" aria-hidden="true"></i>
                                <!-- <img class="" src="./img/info.svg" height="25"> -->
                            </a>
                        </td>
                        <td>05 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>Partnership</td>
                        <td>HABC Limited</td>
                        <td>3777388223</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    <tr>
                        <td scope="row"><input type="checkbox" value=""></td>
                        <td><a href="applications_change_log.html">288828888</a></td>
                        <td>ETB</td>
                        <td>NPO</td>
                        <td>Pacific Coffee Ltd.</td>
                        <td>3777388224</td>
                        <td>Pending - CCC</td>
                        <td>Pending CCC allocation</td>
                        <td></td>
                        <td>31 Dec 2020 11:30</td>
                        <td>Sheung Wan</td>
                        <td>Aaron Cheung</td>
                        <td>12 Dec 2020</td>
                        <td>30 Dec 2020</td>
                        <td>30 Dec 2020</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- table-responsive end -->

        </div>
    </div>
</div>
</body>
</html>