<div ng-controller="RemarkCtrl as remarkCtrl">
    <div class="modal fade" id="Modal" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
               
                <div class="modal-body">
                    <label>Remark</label><br>
                    <div ng-repeat="item in remarkList">
                        <span>{{item.staff_name}}</span>
                        <span>{{item.remark_date}}</span>
                        <span>{{item.remark_cause}}</span>
                    </div>
                    <span>Write a remar</span><br>
                    <textarea rows="10" cols="20" ng-model="remarkCause" ></textarea>      
                </div>
                
                <div class="modal-footer">
                    <button id="remarkPost" type="button" class="btn btn-outline-success" ng-click="remarkCtrl.postRemrak()" >Post</button>
                </div>
            </div>
        </div>
    </div>
</div>

