<div ng-controller="RemarkCtrl as remarkCtrl">
    <div class="modal fade" id="Modal" data-backdrop="static">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="modal-title mb-5" id="remarkModalLabel">Remark</h5>
                    <div ng-repeat="item in remarkList">
                        <h6>{{item.staff_name}}<span class="float-right">{{item.remark_date}}</span></h6>
                        <p>{{item.remark_cause}}</p >
                    </div>
                     <h6>Write a comment</h6><br>
                    <textarea rows="5" cols="20" ng-model="remarkCause" class="form-control"></textarea>      
                </div>
                
                <div class="modal-footer">
                    <button id="remarkPost" type="button" class="btn btn-outline-success" ng-click="remarkCtrl.postRemrak()" >Post</button>
                </div>
            </div>
        </div>
    </div>
</div>

