<header class="sticky-top  bg-primary clearfix row" ng-controller="headerCtrl">
	<!-- 01 Navbar -->
	<nav class="navbar  navbar-dark pl-4  col-12 col-sm-8 navbar-expand-md">
		<!-- Brand and collapse-icon -->
		<div class="py-2">
			<button class="navbar-toggler px-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand mx-2 ml-xl-0 ml-lg-0" href="#Staff Dashboard">Staff Dashboard</a>
		</div>
		<!-- nav-Links -->
		<div class="collapse navbar-collapse  " id="collapsibleNavbar">
			<ul class="navbar-nav nav">
				<li class="nav-item">
					<a class="nav-link text-white" href="/portalserver/portal-cos/page1#/C1/9e955dfc3b3611e9b40a68f728192098/RSO/0000102728">Applications</a>
				</li>
				<!-- Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" id="navbardrop" >Manage</a>
					<ul class="dropdown-menu py-0">
						<li class="nav-item">
							<a class="dropdown-item text-dark" href="/portalserver/hase-cos/progressfilter/">Team</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item text-dark" href="#">Report</a>
						</li>
						<li class="nav-item">
							<a class="dropdown-item text-dark" href="#">Timeslot</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#">Admin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-white" href="#">
						Notification<span class="badge badge-info mx-1">518</span>
					</a>
				</li>
			</ul>
		</div>

	</nav>
	<!--  nav-right -->
	<div class="text-white my-3 pt-2 col-12 col-sm-4 text-md-right">
		<div class="col-auto mr-3">
			<img src="/portalserver/static/features/%5BBBHOST%5D/theme-hase-cos/dist/styles/images/user-solid.svg" class="rounded-circle" height="20" alt="Responsive image">
			<span>Chrismrs Wong</span>
		</div>
	</div>
	<!-- 01 Navbar end-->
</header>