<div class="container-fluid">	
        <main class="container-fluid py-3">
            <div class="row">
                <!-- Search -->
                <div class="order-last order-xl-first order-lg-first col-12 mb-3" ng-controller="ProgressFilterCtrl as progressFilterCtrl">
                    <div class="card bg-white">
                        <form class="card-body px-3 pt-3">
                            <h5 class="card-title">Search</h5>
                            <div class="row" >
                                <div class="mb-3 col-3" ng-repeat = "(key, value) in searchElements" >
                                    <div class="pt-2 border" ng-if='value.type=="radio"'>
                                        <label class="control-label border-0 col-12 mb-0" lp-i18n="{{key}}" ></label>
                                        <div class="row pl-3 mt-2"   ng-repeat="element  in value.data">
                                            <label class="radio-inline col-6 col-lg-12"><input  type="radio" ng-model='searchParam["progress"]' value="{{element}}" ng-change="progressFilterCtrl.progessCheck(element)" /> <span lp-i18n="{{element}}"></span></label>
                                        </div>
                                    </div>
                                    <div class="pt-2 pb-2 border" ng-if='value.type=="checkbox"' >
                                        <label class="control-label border-0 col-12 "  lp-i18n="{{key}}"></label>
                                        <div class="row pl-3 mt-2" ng-repeat="element  in value.data" ng-init="searchParam[element] = element">
                                            <label class="checkbox-inline col-6 col-lg-12 mb-0"><input type="checkbox" ng-model="searchParam[element]" value="{{element}}" ng-checked="true"/> <span lp-i18n="{{element}}"></span></label>
                                        </div>
                                    </div>
                                    <div ng-if='value.type=="option"' class="pt-2 border py-3" >
                                        <label lp-i18n="{{key}}" class="control-label border-0 col-12" ></label>
                                            <label class="row pl-3 mt-2" >
                                            	<select class="col-6 col-lg-10 pl-3 ml-3"> 
                                            		<option ng-repeat="element  in value.data">{{element}}</option>
                                            	</select>
                                            </label>
                                    </div>
                                    <div class="pt-2 border" ng-if='value.type=="date"' ng-hide="progressFilterCtrl.{{key}}" >
                                            <label class="control-label border-0 col-12"  lp-i18n="{{key}}"></label>
                                            <div class="row pl-3"  ng-repeat="element  in value.data">
                                                <!-- datepicker -->
                                                <div class="col-6 col-lg-12 d-inline-flex">
                                                    <label class="mr-1" lp-i18n="{{element}}"></label>
                                                    <input class="form-control h-75 mr-3" 
                                                        placeholder="Please select a date"
                                                        moment-picker="ctrl1.timepicker"
                                                        ng-model="searchParam[element]"
                                                        format="MM/DD/YYYY"
                                                        ng-model-options="{ updateOn: 'blur' }"
                                                        show-header="true" >
                                                </div>
                                            </div>
                                    </div>
                               	</div>
                               	</div>
                            </div>
                            <div class="row mb-3d -flex justify-content-end mb-4">
                                <button type="button" class="btn btn-primary mr-3" ng-click="progressFilterCtrl.tableSearch()">Search</button>
                            </div>
                        </form>
                        <div class="table-responsive">
                                    <table class="col-12 table  table-hover px-0"
                                    id="table" data-toggle="table">
                                        
                        </table>
                      </div>
                    </div>
                </div>
                <!-- Search end -->
            </div>

           
        </main>
	</div>