		<header class="sticky-top">
			<!-- 01 Navbar -->
			<!--<nav class="navbar navbar-expand-lg bg-success navbar-dark py-0">
				&lt;!&ndash; Brand and collapse-icon &ndash;&gt;
				<div class="order-1 d-inline-flex py-2">
					<button class="navbar-toggler px-1" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a class="navbar-brand mx-2 ml-xl-0 ml-lg-0" href="#Staff Dashboard">Staff Dashboard</a>
				</div>
				&lt;!&ndash; nav-Links &ndash;&gt;
				<div class="collapse navbar-collapse order-3 order-lg-2 " id="collapsibleNavbar">
					<ul class="navbar-nav nav">
						<li class="nav-item">
							<a class="nav-link text-white" href="applications_list.html">Applications</a>
						</li>
						&lt;!&ndash; Dropdown &ndash;&gt;
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" id="navbardrop" >Manage</a>
							<ul class="dropdown-menu bg-success py-0">
								<li class="nav-item">
									<a class="dropdown-item text-white" href="manage_team_progress.html">Team</a>
								</li>
								<li class="nav-item">
									<a class="dropdown-item text-white" href="#">Report</a>
								</li>
								<li class="nav-item">
									<a class="dropdown-item text-white" href="#">Timeslot</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="#">Admin</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="#">
								Notification<span class="badge badge-info">4</span>
							</a>
						</li>
					</ul>
				</div>
				&lt;!&ndash;  nav-right &ndash;&gt;
				<div class="text-white order-2 order-lg-3">
					<div class="d-flex justify-content-end">
						<div class="border-left py-2 col-auto">
							<img height="30px" src="/portalserver/static/features/%5BBBHOST%5D/theme-hase-cos/dist/styles/images/globe.svg">
							<select class="bg-success text-white border-0" ng-model="selectedLanguage">
								<option name="selectedLanguage" value="English">English</option>
								<option name="selectedLanguage" value="T.Chinese">T.Chinese</option>
								<option name="selectedLanguage" value="S.Chinese">S.Chinese</option>
							</select>
						</div>
						<div class="d-inlink-flex border-left pt-2 col-auto mr-3">
							<div class="float-left mr-3 bg-white text-success border border-circle p-1">
								<span ng-bind="simpleUserName"></span>
							</div>
							<span class="float-left" ng-bind="fullUserName"></span>
						</div>
					</div>
				</div>-->
				<footer class="py-5 navbar navbar-expand-lg bg-success navbar-dark py-0" style="height: 0px !important;padding-bottom: 2rem!important;padding-top: 2rem!important;">
					<p class="navbar-brand" style="margin-bottom: 0rem;">2019 - 2020 Hang Seng Staff Dashboard</p>
				</footer>
			</nav>
			<!-- 01 Navbar end-->
		</header>